<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
  <a class="navbar-brand flex-grow-1" [routerLink]="['/']">Cyclo Meter</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <li *ngIf="!isLoggedIn()" class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item active">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item active">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
